<section>
    <div class="titulo-feedback">
        <h1>FEEDBACK DOS<span>NOSSOS CLIENTES</span></h1>
    </div>

    <div class="card-grid">
        <div class="card" id="card-white">
            <p>- Henrique</p>
            <blockquote>"A criatividade da hypeclub não tem limites eles transformam visões em obras primas."
            </blockquote>
        </div>
        <div class="card">
            <p>- daniel</p>
            <blockquote>"Entrega de resultados além das expectativas, sendo um verdadeiro parceiro da criatividade."
            </blockquote>

        </div>
        <div class="card">
            <p>- Gabriel</p>
            <blockquote>"Incríveis, o enfoque inovador dessas agência transformando ideias inesquecíveis"</blockquote>

        </div>
        <div class="card">
            <p>- Beatriz</p>
            <blockquote>"A criatividade deles da vida aos sonhos em cada projeto."</blockquote>
        </div>
    </div>
</section>