section{
    align-items: center;
    background-color: #C93816;
    display: flex;
    flex-direction: column;
    height: 1000px;
}

section .titulo-feedback{
    display: flex;
    margin: 100px;
}
section .titulo-feedback h1{
    color: #fff;
    font-size: 80px;
    font-weight: 400;
}

section .titulo-feedback h1 span{
    display: block;
    line-height: 40px;
}

.card-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.card-grid .card{
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 28px;
    gap: 10px;
    height: 300px;
    justify-content: center;
    padding: 30px;
    width: 477px;
}

.card-grid .card#card-white{
    background-color: #fff;
    color: #000;
}

@media screen and (max-width: 1000px){
    
    section{
        align-items: start;
        height: 1400px;
    }
    
    section .titulo-feedback{
        margin: 50px;
    }

    section .titulo-feedback h1{
        font-size: 50px;
    }
   
    .card-grid{
        grid-template-columns: repeat(1,1fr);
        margin: 50px;
    }

    .card-grid .card{
        height: 250px;
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    
    section .titulo-feedback h1{
        font-size: 30px;
    }

    section .titulo-feedback h1 span{
        line-height: 25px;
    }
    
    .card-grid .card{
        font-size: 22px;
    }
}