<section>
    <h1>HYPE <span>CLUB.</span></h1>
    <div class="container-footer">
        <div class="container-esquerda">
            <div>
                <p>Número:</p>
                <blockquote>(81) - 983660195</blockquote>
            </div>
            <div>
                <p>Email:</p>
                <blockquote>HYPECLUBAGENCY&#64;GMAIL.COM</blockquote>
            </div>
        </div>
        <div class="container-direita">
            <div class="lista-footer">
                <a href="#">home</a>
                <a href="#">sobre nós</a>
                <a href="#">trabalho</a>
            </div>

            <div class="redes-sociais">
                <p>Siga nossas<span>redes Sociais:</span></p>
                <div class="wrapper">
                    <div class="icon facebook">
                        <span><i class="fab fa-facebook-f" id="white-icon"></i></span>
                    </div>
                    <div class="icon linkedin">
                        <span><i class="fab fa-linkedin"></i></span>
                    </div>
                    <div class="icon twitter">
                        <span><i class="fab fa-twitter"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>