<section class="trabalhos">
    <div class="titulo">
        <h1>TRABALHOS</h1>
    </div>
    <div class="grid-album">
        <img src="../../assets/imagem-banner1.jpeg" alt="imagem do primeiro banner">
        <img src="../../assets/imagem-banner2.jpeg" alt="imagem do segundo banner">
        <img src="../../assets/imagem-banner3.jpeg" alt="imagem do terceiro banner">
        <p>UI/UX DESIGNER</p>
        <p>DESIGN DE PRODUTOS</p>
        <p id="card3">ESPECIALISTA EM<span>SOCIAL MEDIA</span></p>
    </div>
</section>