<section class="trabalhos">
    <div class="titulo">
        <h1>TRABALHOS</h1>
    </div>
    <div class="grid-album">
        <div class="div-image-responsive">
            <img src="../../assets/imagem-banner1.jpeg" id="img1" alt="imagem do primeiro banner">
            <p>UI/UX DESIGNER</p>
        </div>
        <div class="div-image-responsive">
            <img src="../../assets/imagem-banner2.jpeg" id="img2" alt="imagem do segundo banner">
            <p>DESIGN DE PRODUTOS</p>
        </div>
        <div class="div-image-responsive">
            <img src="../../assets/imagem-banner3.jpeg" id="img3" alt="imagem do terceiro banner">
            <p id="card3">ESPECIALISTA EM<span>SOCIAL MEDIA</span></p>
        </div>
    </div>
</section>