<section class="pedidos">
        <div id="titulo-pedidos">
            <h1>FÁCIL DE FAZER <span>PEDIDOS</span></h1>
        </div>
        <div class="lista-pedidos">
            <ol>
                <li>
                    <h2>CLIQUE EM <span>ORÇAMENTOS</span></h2>
                    <p>NA PARTE SUPERIOR DA PÁGINA CLIQUE EM
                        ORÇAMENTOS E VOCÊ SERÁ DIRECIONADO PARA O NOSSO CONTATO</p>
                </li>
                <hr/>
                <li>
                    <h2>CONVERSE COM A NOSSA EQUIPE SOBRE O SEU PROJETO</h2>
                    <p>PRÓXIMO PASSO, VOCÊ DISCUTIRÁ SOBRE SEU PROJETO E IREMOS ENVIAR UM BRIEFING PARA RESPONDER PARA ENTENDERMOS MAIS SOBRE O TRABALHO</p>
                </li>
                <hr/>
                <li>
                    <h2>COMPLETANDO O PAGAMENTO</h2>
                    <p>COMPLETANDO O PAGAMENTO DAREMOS VIDA AO SEU PROJETO </p>
                </li>
                <hr/>
            </ol>
        </div>
</section>