<header class="header">
    <nav class="navbar">
        <div class="container-logo">
            <h2 class="logo">HYPECLUB.</h2>
        </div>
        <ul class="list">
            <li class="links">
                <a class="link" href="#">HOME</a>
            </li>
            <li class="links">
                <a class="link" href="#">SOBRE NÓS</a>
            </li>
            <li class="links">
                <a class="link" href="#">TRABALHOS</a>
            </li>
            <li class="links">
                <a class="link" href="#">CONTATO</a>
            </li>
        </ul>

    </nav>
    <div class="button">
        <button class="button-orcamento"><a href="#">ORÇAMENTO</a></button>
        
        <button class="button-mais"><a href="#">+</a></button>
    </div>
</header>
<section class="home">
    <div class="container-home">
        <p class="title-home">AGÊNCIA CRIATIVA</p>
        <div class="container-itens">
            
            <p class="text-home">Uma agência criativa dinâmica
                que entrelaça arte e inovação
                em narrativas inesquecíves.
                Impulsionada por uma equipe
                diversificada dedicada ao seu
                sucesso.
            </p>
            
            <div class="card-home-left">
                <p >DESIGN INOVAÇÕES CRIATIVAS</p>
            </div>
            
            <div class="card-home-right">
                <p >CRIAR IMPACTO PROFISSIONAL</p>
            </div>

            <div class="card-image">
                <img src="../../assets/image.jpeg">
            </div>
        
        </div>

    </div>
</section>
