<div class="header">
    <a href="#" class="logo out">HYPE CLUB.</a>

    <input type="checkbox" id="check">
    <label for="check" class="icons">
        <i class='bx bx-menu'></i>
        <i class='bx bx-x'></i>
    </label>
    <nav class="navbar">
        <a href="#" class="logo">HYPE CLUB.</a>
        <a class="link" href="#">HOME</a>
        <a class="link" href="#">SOBRE NÓS</a>
        <a class="link" href="#">TRABALHOS</a>
        <a class="link" href="#">CONTATO</a>
        <a class="link orcamento">ORÇAMENTO</a>
    </nav>
    <a href="#" class="button">ORÇAMENTO</a>
</div>

<section class="home">

    <div class="container-home">
        <p class="title-home">AGÊNCIA CRIATIVA</p>
        <div class="container-itens">

            <p class="text-home">Uma agência criativa dinâmica
                que entrelaça arte e inovação
                em narrativas inesquecíves.
                Impulsionada por uma equipe
                diversificada dedicada ao seu
                sucesso.
            </p>

            <div class="card-container">
                <div class="card-home-left">
                    <p>DESIGN INOVAÇÕES CRIATIVAS</p>
                </div>

                <div class="card-home-right">
                    <p>CRIAR IMPACTO PROFISSIONAL</p>
                </div>
            </div>

        </div>
    </div>
    <div class="container-image">
        <img src="../../assets/image.jpeg">
    </div>
</section>