<section class="sobre-nos">
    <div class="container-sobre">
        <div class="sobre">
            <h1 class="titulo-sobre">SOBRE NÓS</h1>
            <p class="texto-sobre">NA HYPE CLUB. NÓS NÃO SOMOS APENAS UMA AGÊNCIA CRIATIVA; SOMOS ARTESÕES DA IMAGINAÇÃO.</p>
        </div>
        <!--sessão de sobre nós vai ser na ordem: container de imagem e container do titulo com a descrição-->
        <div class="imagem-sobre">
            <img src="../../assets/rafael_image.jpeg">
        </div>
        
        <div class="pessoa-sobre">
            <p>RAPHAEL</p>
            <p class="descricao-sobre">"CEO, criador de identidades visuais, editor de videos"</p>
        </div>
        
        <div class="imagem-sobre">
            <img src="../../assets/icaro_image.jpeg">
        </div>

        <div class="pessoa-sobre">
            <p>ICARO</p>
            <p class="descricao-sobre">"DEV Front-End"</p> 
        </div>
        
        <div class="imagem-sobre">
            <img src="../../assets/mike_image.jpeg">
        </div>

        <div class="pessoa-sobre">
                <p>MIKE</p>
                <p class="descricao-sobre">"DEV back-end e Frond-End"</p>
        </div>

    </div>
</section>
<section class="saiba-mais">
        <div class="faixa">
            <p>BRANDING</p>
            <p>☁️</p>
            <p>UI/UX</p>
            <p>☁️</p>
            <p>WEB DEVELOPMENT</p>
        </div>

        <div class="faixa2">
            <p> HYPE CLUB</p>
            <p>☁️ PRODUTOS3D</p>
        </div>
</section>