<section class="sobre-nos">
    <div class="container-sobre">
        <div class="sobre">
            <h1 class="titulo-sobre">SOBRE NÓS</h1>
            <p class="texto-sobre">NA HYPE CLUB. NÓS NÃO SOMOS APENAS UMA AGÊNCIA CRIATIVA; SOMOS ARTESÕES DA
                IMAGINAÇÃO.</p>
        </div>
        <!--sessão de sobre nós vai ser na ordem: container de imagem e container do titulo com a descrição-->
        <div class="imagem-sobre">
            <img src="../../assets/rafael_image.jpeg" alt="imagem do CEO da agência">
        </div>

        <div class="pessoa-sobre">
            <p class="nome-sobre">RAPHAEL</p>
            <p class="descricao-sobre">"CEO, criador de identidades visuais, editor de videos"</p>
        </div>

        <div class="imagem-sobre">
            <img src="../../assets/icaro_image.jpeg" alt="imagem do Desenvolvedor front-end da agência">
        </div>

        <div class="pessoa-sobre">
            <p class="nome-sobre">ICARO</p>
            <p class="descricao-sobre">"DEV Front-End"</p>
        </div>

        <div class="imagem-sobre">
            <img src="../../assets/mike_image.jpeg" alt="imagem do Desenvolvedor Front-end e Back-end da agência">
        </div>

        <div class="pessoa-sobre">
            <p class="nome-sobre">MIKE</p>
            <p class="descricao-sobre">"DEV back-end e Frond-End"</p>
        </div>

    </div>
</section>
<div class="faixas">
    <div class="container-faixa">
        <div class="faixa">
            <p>HYPE CLUB</p>
            <p>☁️ PRODUTOS3D</p>
        </div>
        <div class="faixa2">
            <p id="branding">BRANDING</p>
            <p>☁️</p>
            <p>UI/UX</p>
            <p>☁️</p>
            <p>WEB DEVELOPMENT</p>
        </div>
    </div>

</div>

<section class="saiba-mais">

    <div class="saiba-mais-texto">
        <h1>SAIBA MAIS<span>SOBRE NÓS</span></h1>

        <p id="texto">Uma agência criativa dinâmica que entrelaça arte e inovação em narrativas inesquecíveis,
            impulsionada por
            uma
            equipe diversificada dedicada ao seu sucesso.</p>


        <div class="grid-saiba-mais">
            <p id="card1" class="card-saiba-mais">IDEIAS <span>IMPACTANTES</span></p>
            <p id="card2" class="card-saiba-mais">VISÕES EM <span>OBRA-PRIMA</span></p>
            <p id="card3" class="card-saiba-mais">ORÇAMENTOS </p>
        </div>
    </div>

    <figure class="saiba-mais-imagem">
        <img id="girl-image"src="../../assets/girl-image.jpeg" alt="imagem de uma garota com fones de ouvido">
     <!--  <img id="check-image" src="../../assets/check-image.png"> -->
    </figure>


</section>